<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    					http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/security 
                        http://www.springframework.org/schema/security/spring-security.xsd">
    <import resource="applicationContext-security-common.xml"/>
     
    <bean id="ldapActiveDirectoryAuthProvider" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
	    <constructor-arg>
		    <bean class="org.springframework.security.ldap.authentication.BindAuthenticator">
		      <constructor-arg ref="contextSource"/>
			      <property name="userDnPatterns">
			        <list><value>uid={0},ou=system</value></list>
			      </property>
		    </bean>
	    </constructor-arg>
	    <constructor-arg>
		    <bean class="com.fis.ist.springsecurity.ldap.LDAPAuthPopulator"/>
	    </constructor-arg>
    </bean>
    <bean id="contextSource"
	    class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
	    <constructor-arg value="${ist.ldap_url}" />
	</bean>
	
    <security:http auto-config="false" use-expressions="true">
        <security:intercept-url pattern="/css/**" access="permitAll" />	
	   	<security:intercept-url pattern="/images/**" access="permitAll"  />
	   	<security:intercept-url pattern="/js/**" access="permitAll"  />
	   	<security:intercept-url pattern="/index.jsp" access="permitAll"  />
	   	<security:intercept-url pattern="/login.jsp" access="permitAll"  />
	   	<security:intercept-url pattern="/logoff.jsp" access="permitAll"  />
	   	<security:intercept-url pattern="/changepwd.jsp" access="permitAll"  />
	   	<security:intercept-url pattern="/changepwdhandler.jsp" access="permitAll"  />
	    <security:intercept-url pattern="/login.swf" access="permitAll"  />
	    <!-- Security zones -->
        <security:intercept-url pattern="/**" access="isAuthenticated()" />
        <security:headers>
           <security:cache-control />
           <security:content-type-options />
           <security:frame-options />
           <security:xss-protection />
           <security:header name="Cache-Control" value="no-cache;no-store;max-age=0"/>
           <security:header name="Content-security-policy" value="default-src 'self';img-src 'self' data: blob:; style-src 'self' 'unsafe-inline'; script-src 'self';font-src 'self';"/>
           <security:header name="X-Permitted-Cross-Domain-Policies" value="none"/> 
           <security:header name="Strict-Transport-Security" value="max-age=31536000;includeSubDomains;preload"/>
           <security:header name="Expect-CT" value="max-age=86400;enforce"/>  
       </security:headers>
         <!-- Login pages -->
        <security:form-login 
        	login-page="/login.jsp" 
            username-parameter="j_username"
        	password-parameter="j_password"
        	login-processing-url="/j_spring_security_check"
        	default-target-url="/appSelect.jsp"
            always-use-default-target="true" 
        	authentication-failure-handler-ref="passwordExpiredHandler"
        	authentication-success-handler-ref="AuthenticationSuccessHandler" />
        <security:logout invalidate-session="true" logout-success-url="/logoff.jsp" logout-url="/j_spring_security_logout"/>        
        <security:custom-filter  before="SESSION_MANAGEMENT_FILTER" ref="invSessionRedirect"/>
        <security:session-management session-fixation-protection="newSession">
            <security:concurrency-control 
            	max-sessions="1" 
            	error-if-maximum-exceeded="false" 
            />
        </security:session-management>
        <security:csrf disabled="true"/>
    </security:http>
 <security:authentication-manager alias="authenticationManager"> 
   <security:authentication-provider ref="ldapActiveDirectoryAuthProvider" />
 </security:authentication-manager>
 <bean id="AuthenticationSuccessHandler"
		class="com.fis.ist.springsecurity.AuthenticationSuccessHandler">
		<property name="defaultTargetUrl" value="/appSelect.jsp"/>
		<property name="authType" value="ldap"/>
 </bean>
 <bean id="passwordExpiredHandler"
		class="com.fis.ist.springsecurity.OASAuthenticationFailure">
		<property name="defaultFailureUrl" value="/login.jsp?login_error=1" />
		<property name="authType" value="ldap" />
		<property name="exceptionMappings">
			<map>
				<entry key="org.springframework.security.authentication.CredentialsExpiredException" value="/changepwd.jsp?change_pwd_error=1" />
			</map>
		</property>
 </bean>
</beans>
