<?xml version="1.0" encoding="UTF-8"?>
<!--  $Id$ -->
<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
>
	<mvc:annotation-driven />
	<context:component-scan base-package="com.fis.ist.monitoring"/>
  <!--  <bean id="productService" class="com.fis.ist.monitoring.controller.MonitorProductController" /> -->
    <bean id="gui_services" class="com.fis.ist.json.GuiServices">
    	<constructor-arg type="java.util.Map">
    		<map>
    			<entry key="bizservice" value-ref="uiServiceBean"/>
    			<entry key="instservice" value-ref="instServiceBean"/>
    			<entry key="menuService" value-ref="menuServiceBean"/>
    			<entry key="monconfigservice" value-ref="monConfigServiceBean"/>
    		</map>
    	</constructor-arg>
    </bean>
	 
</beans>
